/*
'a', 'i', 'u', 'e', 'o',
'ka', 'ki', 'ku', 'ke', 'ko',
'sa', 'shi', 'su', 'se', 'so',
'ta', 'chi', 'tsu', 'te', 'to',
'na', 'ni', 'nu', 'ne', 'no',
'ha', 'hi', 'fu', 'he', 'ho',
'ma', 'mi', 'mu', 'me', 'mo',
'ya', 'yu', 'yo',
'ra', 'ri', 'ru', 're', 'ro',
'wa', 'wo',
'n',
'ga', 'gi', 'gu', 'ge', 'go',
'za', 'ji', 'zu', 'ze', 'zo',
'da', 'dzi', 'dzu', 'de', 'do',
'ba', 'bi', 'bu', 'be', 'bo',
'pa', 'pi', 'pu', 'pe', 'po'
*/

.kanaToGuess {
    display : inline-block;
    line-height : 120px;
    vertical-align: middle;
    border: none;
}

.kanaAlphabet {
    display : inline-block;
    width : 100px;
    height : 100px;
    border: none;
}

@media only screen and (max-width: 600px) {
    .imgSize { background-size: 100px; }
    .kanaAlphabet { 
        display : inline-block;
        width : 100px;
        height : 100px;
        border: none;
    }
}

.Ha { background-image : url("../img/hiragana/a.png"); }
.Hi { background-image : url("../img/hiragana/i.png"); }
.Hu { background-image : url("../img/hiragana/u.png"); }
.He { background-image : url("../img/hiragana/e.png"); }
.Ho { background-image : url("../img/hiragana/o.png"); }
.Hka { background-image : url("../img/hiragana/ka.png"); }
.Hki { background-image : url("../img/hiragana/ki.png"); }
.Hku { background-image : url("../img/hiragana/ku.png"); }
.Hke { background-image : url("../img/hiragana/ke.png"); }
.Hko { background-image : url("../img/hiragana/ko.png"); }
.Hsa { background-image : url("../img/hiragana/sa.png"); }
.Hshi { background-image : url("../img/hiragana/shi.png"); }
.Hsu { background-image : url("../img/hiragana/su.png"); }
.Hse { background-image : url("../img/hiragana/se.png"); }
.Hso { background-image : url("../img/hiragana/so.png"); }
.Hta { background-image : url("../img/hiragana/ta.png"); }
.Hchi { background-image : url("../img/hiragana/chi.png"); }
.Htsu { background-image : url("../img/hiragana/tsu.png"); }
.Hte { background-image : url("../img/hiragana/te.png"); }
.Hto { background-image : url("../img/hiragana/to.png"); }
.Hna { background-image : url("../img/hiragana/na.png"); }
.Hni { background-image : url("../img/hiragana/ni.png"); }
.Hnu { background-image : url("../img/hiragana/nu.png"); }
.Hne { background-image : url("../img/hiragana/ne.png"); }
.Hno { background-image : url("../img/hiragana/no.png"); }
.Hha { background-image : url("../img/hiragana/ha.png"); }
.Hhi { background-image : url("../img/hiragana/hi.png"); }
.Hfu { background-image : url("../img/hiragana/fu.png"); }
.Hhe { background-image : url("../img/hiragana/he.png"); }
.Hho { background-image : url("../img/hiragana/ho.png"); }
.Hma { background-image : url("../img/hiragana/ma.png"); }
.Hmi { background-image : url("../img/hiragana/mi.png"); }
.Hmu { background-image : url("../img/hiragana/mu.png"); }
.Hme { background-image : url("../img/hiragana/me.png"); }
.Hmo { background-image : url("../img/hiragana/mo.png"); }
.Hya { background-image : url("../img/hiragana/ya.png"); }
.Hyu { background-image : url("../img/hiragana/yu.png"); }
.Hyo { background-image : url("../img/hiragana/yo.png"); }
.Hra { background-image : url("../img/hiragana/ra.png"); }
.Hri { background-image : url("../img/hiragana/ri.png"); }
.Hru { background-image : url("../img/hiragana/ru.png"); }
.Hre { background-image : url("../img/hiragana/re.png"); }
.Hro { background-image : url("../img/hiragana/ro.png"); }
.Hwa { background-image : url("../img/hiragana/wa.png"); }
.Hwo { background-image : url("../img/hiragana/wo.png"); }
.Hn { background-image : url("../img/hiragana/n.png"); }
.Hga { background-image : url("../img/hiragana/ga.png"); }
.Hgi { background-image : url("../img/hiragana/gi.png"); }
.Hgu { background-image : url("../img/hiragana/gu.png"); }
.Hge { background-image : url("../img/hiragana/ge.png"); }
.Hgo { background-image : url("../img/hiragana/go.png"); }
.Hza { background-image : url("../img/hiragana/za.png"); }
.Hji { background-image : url("../img/hiragana/ji.png"); }
.Hzu { background-image : url("../img/hiragana/zu.png"); }
.Hze { background-image : url("../img/hiragana/ze.png"); }
.Hzo { background-image : url("../img/hiragana/zo.png"); }
.Hda { background-image : url("../img/hiragana/da.png"); }
.Hdzi { background-image : url("../img/hiragana/dzi.png"); }
.Hdzu { background-image : url("../img/hiragana/dzu.png"); }
.Hde { background-image : url("../img/hiragana/de.png"); }
.Hdo { background-image : url("../img/hiragana/do.png"); }
.Hba { background-image : url("../img/hiragana/ba.png"); }
.Hbi { background-image : url("../img/hiragana/bi.png"); }
.Hbu { background-image : url("../img/hiragana/bu.png"); }
.Hbe { background-image : url("../img/hiragana/be.png"); }
.Hbo { background-image : url("../img/hiragana/bo.png"); }
.Hpa { background-image : url("../img/hiragana/pa.png"); }
.Hpi { background-image : url("../img/hiragana/pi.png"); }
.Hpu { background-image : url("../img/hiragana/pu.png"); }
.Hpe { background-image : url("../img/hiragana/pe.png"); }
.Hpo { background-image : url("../img/hiragana/po.png"); }

.Ka { background-image : url("../img/katakana/a.png"); }
.Ki { background-image : url("../img/katakana/i.png"); }
.Ku { background-image : url("../img/katakana/u.png"); }
.Ke { background-image : url("../img/katakana/e.png"); }
.Ko { background-image : url("../img/katakana/o.png"); }
.Kka { background-image : url("../img/katakana/ka.png"); }
.Kki { background-image : url("../img/katakana/ki.png"); }
.Kku { background-image : url("../img/katakana/ku.png"); }
.Kke { background-image : url("../img/katakana/ke.png"); }
.Kko { background-image : url("../img/katakana/ko.png"); }
.Ksa { background-image : url("../img/katakana/sa.png"); }
.Kshi { background-image : url("../img/katakana/shi.png"); }
.Ksu { background-image : url("../img/katakana/su.png"); }
.Kse { background-image : url("../img/katakana/se.png"); }
.Kso { background-image : url("../img/katakana/so.png"); }
.Kta { background-image : url("../img/katakana/ta.png"); }
.Kchi { background-image : url("../img/katakana/chi.png"); }
.Ktsu { background-image : url("../img/katakana/tsu.png"); }
.Kte { background-image : url("../img/katakana/te.png"); }
.Kto { background-image : url("../img/katakana/to.png"); }
.Kna { background-image : url("../img/katakana/na.png"); }
.Kni { background-image : url("../img/katakana/ni.png"); }
.Knu { background-image : url("../img/katakana/nu.png"); }
.Kne { background-image : url("../img/katakana/ne.png"); }
.Kno { background-image : url("../img/katakana/no.png"); }
.Kha { background-image : url("../img/katakana/ha.png"); }
.Khi { background-image : url("../img/katakana/hi.png"); }
.Kfu { background-image : url("../img/katakana/fu.png"); }
.Khe { background-image : url("../img/katakana/he.png"); }
.Kho { background-image : url("../img/katakana/ho.png"); }
.Kma { background-image : url("../img/katakana/ma.png"); }
.Kmi { background-image : url("../img/katakana/mi.png"); }
.Kmu { background-image : url("../img/katakana/mu.png"); }
.Kme { background-image : url("../img/katakana/me.png"); }
.Kmo { background-image : url("../img/katakana/mo.png"); }
.Kya { background-image : url("../img/katakana/ya.png"); }
.Kyu { background-image : url("../img/katakana/yu.png"); }
.Kyo { background-image : url("../img/katakana/yo.png"); }
.Kra { background-image : url("../img/katakana/ra.png"); }
.Kri { background-image : url("../img/katakana/ri.png"); }
.Kru { background-image : url("../img/katakana/ru.png"); }
.Kre { background-image : url("../img/katakana/re.png"); }
.Kro { background-image : url("../img/katakana/ro.png"); }
.Kwa { background-image : url("../img/katakana/wa.png"); }
.Kwo { background-image : url("../img/katakana/wo.png"); }
.Kn { background-image : url("../img/katakana/n.png"); }
.Kga { background-image : url("../img/katakana/ga.png"); }
.kgi { background-image : url("../img/katakana/gi.png"); }
.Kgu { background-image : url("../img/katakana/gu.png"); }
.Kge { background-image : url("../img/katakana/ge.png"); }
.Kgo { background-image : url("../img/katakana/go.png"); }
.Kza { background-image : url("../img/katakana/za.png"); }
.Kji { background-image : url("../img/katakana/ji.png"); }
.Kzu { background-image : url("../img/katakana/zu.png"); }
.Kze { background-image : url("../img/katakana/ze.png"); }
.Kzo { background-image : url("../img/katakana/zo.png"); }
.Kda { background-image : url("../img/katakana/da.png"); }
.Kdzi { background-image : url("../img/katakana/dzi.png"); }
.Kdzu { background-image : url("../img/katakana/dzu.png"); }
.Kde { background-image : url("../img/katakana/de.png"); }
.Kdo { background-image : url("../img/katakana/do.png"); }
.Kba { background-image : url("../img/katakana/ba.png"); }
.Kbi { background-image : url("../img/katakana/bi.png"); }
.Kbu { background-image : url("../img/katakana/bu.png"); }
.Kbe { background-image : url("../img/katakana/be.png"); }
.Kbo { background-image : url("../img/katakana/bo.png"); }
.Kpa { background-image : url("../img/katakana/pa.png"); }
.Kpi { background-image : url("../img/katakana/pi.png"); }
.Kpu { background-image : url("../img/katakana/pu.png"); }
.Kpe { background-image : url("../img/katakana/pe.png"); }
.Kpo { background-image : url("../img/katakana/po.png"); }
