* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} 

.bigButton {
    height: 80px;
    width: 160px;
}

.veryBigButton {
    height: 80px;
    width: 250px;
}

.countdownTimer {
    font-size: 2em;
    color: #000000;
    float:right;
    /* border: 1px solid grey;     */
}

.info {
    height: 24vh;
    font-size: 30px;
    /* border: 5px solid goldenrod; */
}

.playKana {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1vh;
    /* border: 5px solid greenyellow; */
} 
.playKana > * {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    height: 120px;
    font-size: calc(24px + (72 - 24) * (100vw - 300px) / (1600 - 300));     
    /* border: 1px solid black; */
}

.playKana > *:hover {
    filter: brightness(90%);
}

.playKanaChoice {
    align-content: center;
    text-align: center;
}

.playKanaChoiceItem {
    border: 1px solid white;
}

.alphabet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1vh;
    font-size: 14px;
    /* border: 5px solid greenyellow; */
}

.alphabet > * {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid grey; */
}

.alphabetImg {
    width: 50%;
}

.colorClearButton {
    background-color: #f44336;
}

.colorTrueButton {
    background-color: #16ca52;
}

.colorFalseButton {
    background-color: #cc1906;
}
