@import url(sanitize.css);

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} 

.example {
    padding: 20px;
    color: white;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: rgb(253, 134, 134);}
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {background: rgb(77, 184, 77);}
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: rgb(139, 139, 255);}
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: rgb(250, 230, 230);}
}

/* For desktop: */
.col-1 {width: 10%;}
.col-2 {width: 10%;}
.col-3 {width: 10%;}
.col-4 {width: 10%;}
.col-5 {width: 10%;}
.col-6 {width: 10%;}
.col-7 {width: 10%;}
.col-8 {width: 10%;}
.col-9 {width: 10%;}
.col-10 {width: 10%;}
.col-11 {width: 10%;}
.col-12 {width: 10%;}
.col-13 {width: 10%;}
.col-14 {width: 10%;}
.col-15 {width: 10%;}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 33%;
  }
}





.kana {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #000000;
    background-color: #FFFFFF;
    /* border: 5px solid seagreen;     */
}

.title {
    display: flex;
    justify-content:center;
    align-items: top;
    height: 10vh;
    /* 
        type fluid  (type responsive) 

        font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

        credit Mike Riethmuller
    */
    font-size: calc(24px + (72 - 24) * (100vw - 300px) / (1600 - 300));
    /* border: 5px solid goldenrod; */
}

.info {
    display: flex;
    justify-content:center;
    align-items: top;
    height: 20vh;
    font-size: 2em;
    /* border: 5px solid goldenrod; */
}

.btnAlphabet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1vh;
    height: 7vh;
    /* border: 5px solid blueviolet; */
}

.kanaImg {
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 20vh;
    /* border: 5px solid goldenrod; */
}

.kanaRomanji {
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 20vh;
    color: #000000;
    font-size: calc(24px + (72 - 24) * (100vw - 300px) / (1600 - 300));    
    /* border: 5px solid rgb(82, 91, 179); */
}

.choice {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1vh; 
    height: 10vh;
    /* 
        type fluid  (type responsive) 

        font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

        credit Mike Riethmuller
    */
    font-size: calc(24px + (72 - 24) * (100vw - 300px) / (1600 - 300));    
    /* border: 5px solid skyblue; */
}

.choice > * {
    display: flex;
    text-align: center;
    border-radius: 5%;
    transition: 0.5s;
    /* border: 1px solid grey; */
}

.choice > *:hover {
    filter: brightness(130%);
}

.choice > *:active {
    filter: brightness(170%);
}

.alphabet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1vh;
    height: 80vh;
    font-size: 20px;
    /* border: 5px solid greenyellow; */
}

.alphabet > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    transition: 0.5s;
    /* border: 1px solid grey; */
}

div[data-key="h-title"] {
    grid-column: 1/7;
}

div.scrollTitreContinue {
    background-color: #eb5732;
    color: #ffffff;
    font-weight: bold;
    overflow: auto;
    white-space: nowrap;
    font-size: 20px;
    padding: 3px;
    /* border: 1px solid grey; */
}

div.scrollMenuContinue {
    background-color: #eb5732;
    overflow: auto;
    white-space: nowrap;
    font-size: 13px;
    padding: 8px;
    /* border: 1px solid grey; */
}

div.scrollTitre {
    background-color: #eb5732;
    overflow: auto;
    white-space: nowrap;
    font-size: 13px;
    padding: 3px;
    /* border: 1px solid grey; */
}

div.scrollMenuContinue a {
    background-color: #df331c;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    border-radius: .5em;
    text-decoration: none;
    pointer-events: auto;
}
  
div.scrollMenuContinue a:hover {
    background-color: #831102;
    border-radius: .5em;
}

div.scrollmenu {
    background-color: #eb5732;
    overflow: auto;
    white-space: nowrap;
    font-size: 13px;
    padding: 8px;
    /* border: 1px solid grey; */
}

div.scrollmenu a {
    background-color: #e06e52;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    border-radius: .5em;
    text-decoration: none;
    pointer-events: auto;
}
  
div.scrollmenu a:hover {
    background-color: #df331c;
    border-radius: .5em;
}

div.back {
    background-color: #2f90e0;
    overflow: auto;
    white-space: nowrap;
    /* 
        type fluid  (type responsive) 

        font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

        credit Mike Riethmuller
    */
    font-size: calc(24px + (72 - 24) * (100vw - 300px) / (1600 - 300));
    /* border: 1px solid grey; */
}
  
div.back a {
    background-color: #2f90e0;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    pointer-events: auto;
}
  
div.back a:hover {
    background-color: #2f4fe0;
    border-radius: .5em;
}

.countdownTimer {
    font-size: 2em;
    color: #eb5732;
    float:right;
    /* border: 1px solid grey;     */
}
