@import url(sanitize.css);

* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#d1{background-color: #ffffff;}
#d2{background-color: #ffffff;}

table
{
    height : 100%;
    width : 100%;
    margin : 0;
    padding : 0;
}
td {
    text-align: center;
}
.tdKana {
    height: 100px;
    width: 100%;
}
#kanaImg {
    width: 50;
    box-sizing: border-box;
    padding: 2px;
    /* border: 1px solid rgba(255, 38, 0, 0.74); */
}
#kanaRomanji {
    background: rgba(255, 38, 0, 0.74);
    color: black;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
    font-size: 6em;
}
.btn {
    width: 80px;
    height: 40px;
}
.btnMenu {
    width: 220px;
    height: 25px;
    font-size: 1em;
    text-align: left;
}
.btnBigMenu {
    width: 200px;
    height: 150px;
    font-size: 1em;    
}
.choice {
    display: flex;
    flex-direction: column;
    height: 10vh;
    border-radius: 5%;
    transition: 0.5s;
    background-color: #B8B8B8;
}
.choice > *:hover {
    filter: brightness(120%);
}
.choice > *:active {
    filter: brightness(170%);
}
img {
    vertical-align : top;
}

.tableKana
{
    height : 100%;
    width : 100%;
    margin : 0;
    padding : 0;
}
.tdKana {
    text-align: center;
    width: 20%;
}
.imgSelected {
    vertical-align : middle;
    border: 2px solid rgba(255, 38, 0, 0.74);
    display:block;
}