.example {
    padding: 20px;
    color: white;
  }

/* Set the width of the sidebar to 120px */
.w3-row-padding img {margin-bottom: 12px}
  
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 30%;
    }    .example {background: rgb(253, 134, 134);}

    div.lessons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 1vh;
      /* border: 5px solid greenyellow; */
    }

    .imgBig {
      width: 100%;
    }

    span.mainTitle {
      display : inline-block;
      width : 100px;
      height : 81px;
      border: none;
      background-image: url('../img/japan.png');
      background-size: 100px;
    }

}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {background: rgb(77, 184, 77);}

    div.lessons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 1vh;
      /* border: 5px solid greenyellow; */
    }     
  }
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: rgb(139, 139, 255);}

    div.lessons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 1vh;
      /* border: 5px solid greenyellow; */
    }     
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}

    div.lessons {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 1vh;
      /* border: 5px solid greenyellow; */
    } 
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: rgb(51, 48, 48);}

    div.lessons {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 1vh;
      /* border: 5px solid greenyellow; */
    }
}

div.lessons > * {
  height: 80px;
  width: 140px;
  /* border: 1px solid grey; */
} 

.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: rgb(250, 124, 124);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
