.example {
    padding: 20px;
    color: white;
  }

/* Set the width of the sidebar to 120px */
.w3-row-padding img {margin-bottom: 12px}
  
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: rgb(253, 134, 134);}
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {background: rgb(77, 184, 77);}
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: rgb(139, 139, 255);}
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: rgb(250, 230, 230);}
}

/* For desktop: */
.col-1 {width: 15%;}
.col-2 {width: 15%;}
.col-3 {width: 15%;}
.col-4 {width: 15%;}
.col-5 {width: 15%;}
.col-6 {width: 15%;}
.col-7 {width: 15%;}
.col-8 {width: 15%;}
.col-9 {width: 15%;}
.col-10 {width: 15%;}
.col-11 {width: 15%;}
.col-12 {width: 15%;}
.col-13 {width: 15%;}
.col-14 {width: 15%;}
.col-15 {width: 15%;}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 30%;
  }
  #main {margin-left: 0}
}


.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: rgb(250, 124, 124);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
